// compress: false, prefix: webkit ms o moz official
//colores de carla
rojo1 = #d10d2d
rojo2 = #a51b4b
morado1 = #4d2271
morado2 = #402359
gris = #f2f3f3
body
    background linear-gradient(top, white, black)
    border-radius: 5px;
