/*grilla86px = 6.29575403%
grilla28px = 2.04978038%
grilla14px = 1.02489019%*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,700,600italic,700italic,900,900italic");
::-moz-selection {
  color: #fff;
  background: #a51b4b;
}
::selection {
  color: #fff;
  background: #d10d2d;
}
body {
  font-size: 16px;
  background-color: #fff;
  color: #2f2f2f;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
header {
  width: 100%;
  height: 120px;
  background-color: #fff;
  position: relative;
}
.contenido {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  max-width: 1112px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}
.contenido #logo {
  width: 18%;
  margin-right: 1%;
}
.contenido nav {
  width: 28%;
  margin-right: 1%;
  margin-left: 1%;
}
.contenido nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.contenido nav ul li {
  padding: 0 2%;
}
.contenido nav ul li a {
  color: #4d2271;
}
.contenido nav ul li a:hover,
.contenido nav ul li a.active {
  border-bottom: solid #d10d2d 1px;
}
.contenido form {
  width: 15%;
  margin-left: 1%;
  text-align: center;
}
.contenido input[type=text] {
  width: 90%;
  height: 30px;
  background-color: #da3d57;
  color: #fff;
  box-sizing: border-box;
  border: 0px none #000;
  border-radius: 4px;
  padding: 0% 5% 0% 5%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contenido input[type=text]:hover,
.contenido input[type=text]:focus,
.contenido input[type=text]:active {
  background-color: #d10d2d;
}
ul#socialMediaTop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
ul#socialMediaTop li {
  margin: auto 3%;
}
ul#socialMediaTop a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #8772a1;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
ul#socialMediaTop a:hover {
  background-color: #4d2271;
}
ul#logosSecundarios {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 18%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 29px;
}
ul#logosSecundarios li {
  position: relative;
  margin: auto;
}
ul#logosSecundarios li .bn img {
  position: absolute;
  background-color: #fff;
  -webkit-transition: opacity 0.8s ease-in-out;
  -moz-transition: opacity 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out;
  -ms-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}
ul#logosSecundarios li .bn:hover img {
  opacity: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
}
section#slider {
  width: 100%;
  height: 100vh;
  margin-top: -120px;
  overflow: hidden;
}
section#slider img {
  padding-top: 120px;
}
section {
  width: 1112px;
  padding: auto;
  margin: auto;
}
section.comentarios {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1112px;
  height: 190px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
section.comentarios blockquote {
  width: 65%;
  margin: 1.5em 0;
  padding: 0.5em 2em;
  quotes: "\201C" "\201D" "\2018" "\2019";
  text-indent: 1em;
}
section.comentarios blockquote p {
  display: inline;
}
section.comentarios blockquote:before {
  content: open-quote;
  font-size: 4em;
  font-weight: bold;
  color: #aeaeae;
  line-height: 0.1em;
  float: left;
  margin-left: -0.5em;
}
section.comentarios blockquote:after {
  content: close-quote;
  font-size: 4em;
  font-weight: bold;
  color: #aeaeae;
  line-height: 0.1em;
  margin-top: 0.5em;
  float: right;
}
section.comentarios .autor {
  width: 30%;
  text-align: center;
  padding: auto;
  margin: auto;
}
section.comentarios .autor img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
section.comentarios .autor h3 {
  font-size: 0.9em;
  text-transform: capitalize;
  color: #aeaeae;
}
section#blog {
  background-color: #2f2f2f;
  height: auto;
  width: 100%;
  padding: 3% 0;
}
section#blog .post {
  width: 1112px;
  margin-right: auto;
  margin-left: auto;
}
section#blog .post article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  margin-bottom: 3%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  position: relative;
}
section#blog .post article .imagen {
  width: 40%;
  height: 250px;
  position: relative;
  z-index: 6;
}
section#blog .post article .imagen a:hover {
  opacity: 1;
}
section#blog .post article .imagen a:hover .leer {
  visibility: visible;
}
section#blog .post article .imagen a:hover .comentarios {
  visibility: visible;
}
section#blog .post article .imagen a {
  width: 100%;
  height: 250px;
  position: absolute;
  z-index: 5;
  background-image: -webkit-linear-gradient(270deg, rgba(64,35,89,0.7), rgba(179,21,48,0.7));
  background-image: linear-gradient(180deg, rgba(64,35,89,0.7), rgba(179,21,48,0.7));
  -webkit-box-shadow: 3px 0px 13px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 3px 0px 13px 0px rgba(0,0,0,0.6);
  box-shadow: 3px 0px 13px 0px rgba(0,0,0,0.6);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
section#blog .post article .imagen a .leer {
  top: 0;
  position: absolute;
  width: 100%;
  height: 250px;
  text-align: center;
  color: #fff;
  visibility: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5em;
  z-index: 4;
}
section#blog .post article .imagen a .comentarios {
  top: 0;
  right: 4%;
  position: absolute;
  width: auto;
  height: 250px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  margin-bottom: 3%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  z-index: 3;
  font-size: 0.8em;
  visibility: hidden;
}
section#blog .post article .imagen a .comentarios i {
  font-size: 1.3em;
}
section#blog .post article .imagen img {
  width: 100%;
  height: 100%;
  background-color: #4d2271;
  position: relative;
  z-index: 2;
}
section#blog .post article .contenido {
  display: inline-block;
  width: 668px;
  height: 250px;
  float: right;
  overflow: hidden;
}
section#blog .post article .contenido .tags {
  text-transform: uppercase;
  font-size: 0.6em;
  padding-top: 10px;
  padding-left: 1%;
  letter-spacing: 0.3em;
  font-style: italic;
}
section#blog .post article .contenido .tags p a.tag {
  color: #2f2f2f;
  text-decoration: none;
  margin-right: 5px;
}
section#blog .post article .contenido .tags p a.tag:hover {
  color: #d10d2d;
}
section#blog .post article .contenido h2,
section#blog .post article .contenido p {
  padding-left: 7%;
  padding-right: 6%;
}
section#blog .post article .contenido a.saberMas {
  text-decoration: none;
  right: 20px;
  position: absolute;
  width: 167px;
  height: 40px;
  background-color: #fff;
  border: 3px solid;
  color: #d10d2d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
section#blog .post article .contenido a.saberMas:hover {
  border: 3px solid #d10d2d;
  background-color: #d10d2d;
  color: #fff;
}
section#blog .botonBlog {
  height: 50px;
  width: 1112px;
  background-color: #d10d2d;
  margin: auto;
  padding: auto;
}
section#blog .botonBlog a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
section#blog .botonBlog a:hover {
  background-color: #4d2271;
}
section#blog .events {
  width: 880px;
  margin: auto;
  padding: auto;
}
section#blog .events article {
  background-color: #fff;
  width: 100%;
  height: auto;
}
section#blog .events article .imagen {
  width: 100%;
  height: 495px;
  position: relative;
}
section#blog .events article .imagen img {
  width: 100%;
  height: 100%;
}
section#blog .events article .imagen .sobre {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: -webkit-linear-gradient(270deg, rgba(64,35,89,0.7), rgba(179,21,48,0.7));
  background-image: linear-gradient(180deg, rgba(64,35,89,0.7), rgba(179,21,48,0.7));
  opacity: 0;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.6);
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
section#blog .events article .imagen:hover .sobre {
  opacity: 1;
}
section#blog .events article .contenido {
  display: inline-block;
  overflow: hidden;
  height: auto;
  padding: 2%;
}
section#blog .events article .informacion {
  width: 100%;
  height: 237px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
section#blog .events article .informacion .detalles {
  background-color: #fafafa;
  width: 98%;
  height: 233px;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: hidden;
}
section#blog .events article .informacion .detalles .fecha {
  width: 15%;
  padding: 19px;
  padding-left: 4%;
}
section#blog .events article .informacion .detalles .fecha i {
  font-size: 4em;
}
section#blog .events article .informacion .detalles .fecha h3 {
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 0;
}
section#blog .events article .informacion .detalles .fecha p.dia {
  margin-top: 0;
  font-size: 1.5em;
  margin-bottom: 0;
}
section#blog .events article .informacion .detalles .fecha p.dia sup {
  font-size: 0.6em;
}
section#blog .events article .informacion .detalles .fecha p.mes {
  margin-top: 0;
  font-size: 0.875em;
  margin-bottom: 5px;
}
section#blog .events article .informacion .detalles .horaLugar {
  width: 46%;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  height: 100%;
}
section#blog .events article .informacion .detalles .costo {
  width: 39%;
  height: 100%;
}
section#blog .events article .informacion .detalles .horaLugar .distribucion,
section#blog .events article .informacion .detalles .costo .distribucion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
section#blog .events article .informacion .detalles .horaLugar .distribucion i,
section#blog .events article .informacion .detalles .costo .distribucion i {
  font-size: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
section#blog .events article .informacion .detalles .horaLugar .distribucion .contenido,
section#blog .events article .informacion .detalles .costo .distribucion .contenido {
  width: 75%;
}
section#blog .events article .informacion .detalles .horaLugar .distribucion .contenido h3,
section#blog .events article .informacion .detalles .costo .distribucion .contenido h3 {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
}
section#blog .events article .informacion .detalles .horaLugar .distribucion .contenido p,
section#blog .events article .informacion .detalles .costo .distribucion .contenido p {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 0.875em;
}
section#blog .events article .informacion .borde {
  height: 100%;
  width: 2%;
  background-color: #4d2271;
}
section#blog .events article .importante {
  height: 88px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
section#blog .events article .importante .borde {
  height: 100%;
  width: 2%;
  background-color: #f4a104;
}
section#blog .events article .importante .detalles {
  background-color: #fafafa;
  width: 98%;
  height: 88px;
  border-top: 0px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
section#blog .events article .importante .detalles i {
  font-size: 3.5625em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 4%;
}
section#blog .events article .importante .detalles .contenido {
  width: 95%;
}
section#blog .events article .importante .detalles .contenido h3 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}
section#blog .events article .importante .detalles .contenido p {
  margin: 0;
  font-size: 0.95em;
  font-style: italic;
  font-weight: 700;
}
section#blog .events article .importante .detalles .contenido p.condicion {
  margin: 0;
  font-size: 0.625em;
  text-align: right;
}
section#blog .events article .organizador {
  height: 130px;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
section#blog .events article .organizador .detalles {
  background-color: #fafafa;
  width: 98%;
  height: 130px;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
section#blog .events article .organizador .detalles h3 {
  text-transform: uppercase;
  margin: 0 0 0 6%;
}
section#blog .events article .organizador .detalles .contenido {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
section#blog .events article .organizador .detalles .contenido .foto {
  width: 110px;
  margin-left: 6%;
}
section#blog .events article .organizador .detalles .contenido .foto img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}
section#blog .events article .organizador .detalles .contenido .detalle {
  width: 293px;
}
section#blog .events article .organizador .detalles .contenido .detalle h4 {
  margin: 0;
  font-size: 0.9em;
}
section#blog .events article .organizador .detalles .contenido .detalle h4.nombre {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
  font-style: italic;
}
section#blog .events article .organizador .detalles .contenido .detalle h4.cargo {
  font-weight: 600;
  font-size: 0.8em;
}
section#blog .events article .organizador .detalles .contenido .contacto {
  width: 237px;
}
section#blog .events article .organizador .detalles .contenido .contacto a {
  margin: 0;
  font-size: 0.9em;
  text-decoration: none;
  color: #2f2f2f;
}
section#blog .events article .organizador .detalles .contenido .contacto a p {
  margin: 0;
}
section#blog .events article .organizador .detalles .contenido .contacto a:hover {
  color: #d10d2d;
}
section#blog .events article .organizador .detalles .contenido .social {
  width: 188px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
}
section#blog .events article .organizador .detalles .contenido .social li {
  margin-right: 5px;
  width: 20px;
}
section#blog .events article .organizador .detalles .contenido .social li a {
  color: #2f2f2f;
}
section#blog .events article .organizador .detalles .contenido .social li a:hover {
  color: #d10d2d;
}
section#blog .events article .organizador .detalles .contenido .social li:last-child {
  margin-right: 0;
}
section#blog .events article .organizador .borde {
  height: 100%;
  width: 2%;
  background-color: #d10d2d;
}
section#blog .events article .quieroIr {
  width: 167px;
  height: 40px;
  background-color: #d10d2d;
  text-align: center;
}
section#blog .events article .quieroIr a {
  color: #fff;
  text-decoration: none;
}
section#blog .events article .quieroIr a i {
  margin-right: 5px;
}
section.eComerce {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10;
}
section.eComerce .titulo {
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(179,21,48,0.5);
  color: #fff;
  font-size: 2em;
  position: relative;
  z-index: 9;
}
section.eComerce .titulo h2 {
  font-weight: 100;
}
section.eComerce .titulo h2 strong {
  font-weight: 600;
}
section.eComerce .venta {
  height: 423px;
  background-image: -webkit-linear-gradient(315deg, rgba(64,35,89,0.5), rgba(179,21,48,0.5)), -webkit-linear-gradient(270deg, rgba(64,35,89,0.5), rgba(64,35,89,0.5));
  background-image: linear-gradient(135deg, rgba(64,35,89,0.5), rgba(179,21,48,0.5)), linear-gradient(180deg, rgba(64,35,89,0.5), rgba(64,35,89,0.5));
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;
  background-repeat: repeat, repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  z-index: 8;
}
section.eComerce .venta .libro {
  display: inline-block;
  width: 236px;
  margin-top: 2%;
}
section.eComerce .venta .libro h3 {
  color: #fff;
  width: 90%;
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  margin-top: 0;
  position: relative;
  height: 95px;
}
section.eComerce .venta .libro h3 small {
  font-size: 0.6em;
  float: right;
}
section.eComerce .venta .libro img {
  height: 203px;
}
section.eComerce .venta .libro a {
  color: #fff;
  width: 230px;
  height: 50px;
  text-decoration: none;
  border: 3px solid;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.2em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
section.eComerce .venta .libro a:hover {
  border: 3px solid #d10d2d;
  color: #fff;
  background-color: #d10d2d;
}
section.eComerce .fondo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
section.videoIntro {
  width: 100%;
  height: 712px;
  position: relative;
  z-index: 10;
}
section.videoIntro .titulo {
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  background-color: #4d2271;
  text-align: center;
  position: relative;
  z-index: 9;
}
section.videoIntro .titulo h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 3em;
}
section.videoIntro .titulo h2 strong {
  font-weight: 800;
  font-style: normal;
  letter-spacing: 5px;
}
section.videoIntro .video {
  width: 100%;
  height: 532px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(64,35,89,0.5), rgba(64,35,89,0.7));
  background-image: linear-gradient(180deg, rgba(64,35,89,0.5), rgba(64,35,89,0.7));
  position: relative;
  z-index: 8;
}
section.videoIntro .fondo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.up {
  width: 66px;
  height: 66px;
  background-color: #aeaeae;
  color: #2f2f2f;
  margin-top: -33px;
  z-index: 10;
  position: absolute;
  margin-right: 20px;
  right: 0;
}
.up a {
  color: #2f2f2f;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 2em;
}
.up a:hover {
  background-color: #2f2f2f;
  color: #aeaeae;
}
footer {
  width: 100%;
  height: 265px;
}
footer .pie {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1112px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 2%;
}
footer .pie .datosContacto,
footer .pie #formBoletin {
  width: 28%;
}
footer .pie .datosContacto h3,
footer .pie #formBoletin h3 {
  width: 100%;
  padding-bottom: 5px;
  border-bottom-color: #d10d2d;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
footer .pie .datosContacto h4,
footer .pie #formBoletin h4 {
  margin: 3% auto;
}
footer .pie ul#telefono li,
footer .pie ul#correo li {
  float: none;
}
footer .pie ul#telefono li a,
footer .pie ul#correo li a {
  color: #2f2f2f;
  text-decoration: none;
  text-align: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
footer .pie ul#telefono li a:hover,
footer .pie ul#correo li a:hover {
  color: #aeaeae;
}
footer .pie ul#telefono li a:hover span,
footer .pie ul#correo li a:hover span {
  color: #4d2271;
}
footer .pie ul#telefono li span,
footer .pie ul#correo li span {
  margin-right: 5px;
  color: #d10d2d;
}
footer .pie ul#telefono li span:hover,
footer .pie ul#correo li span:hover {
  color: #4d2271;
}
footer .pie #formContacto {
  width: 38%;
}
footer .pie #formContacto h3 {
  width: 100%;
  padding-bottom: 5px;
  border-bottom-color: #d10d2d;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
footer .pie #formContacto form {
  width: 100%;
}
footer .pie #formContacto form .col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
footer .pie #formContacto form .col1,
footer .pie #formContacto form .col2 {
  width: 47%;
  overflow: hidden;
}
footer .pie #formContacto form .col1 p input {
  width: 100%;
  box-sizing: border-box;
  border: 0px none #000;
  border-radius: 0px;
  padding: 0% 5% 0% 5%;
  background-color: #aeaeae;
  height: 30px;
}
footer .pie #formContacto form .col p textarea {
  width: 100%;
  height: 75px;
  box-sizing: border-box;
  border: 0px none #000;
  border-radius: 0px;
  padding: 3% 5% 0% 5%;
  background-color: #aeaeae;
}
footer .pie #formContacto form .boton {
  height: 40px;
  width: 100%;
  background-color: #d10d2d;
}
footer .pie #formContacto form .boton a {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
footer .pie #formContacto form .boton a:hover {
  background-color: #4d2271;
}
footer .pie #formBoletin form {
  padding-top: 1%;
}
footer .pie #formBoletin input {
  width: 90%;
  margin: 0 5% 0 5%;
  box-sizing: border-box;
  border: 0px none #000;
  border-radius: 0px;
  padding: 0% 5% 0% 5%;
  background-color: #aeaeae;
  height: 30px;
}
footer .pie #formBoletin .boton {
  height: 40px;
  width: 90%;
  margin: 0% 5% 0 5%;
  background-color: #d10d2d;
}
footer .pie #formBoletin .boton a {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
footer .pie #formBoletin .boton a:hover {
  background-color: #4d2271;
}
footer .licencia {
  display: block;
  width: 100%;
  height: 41px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f2f2f;
  color: #fff;
}
footer .licencia .copyR {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1112px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
footer .licencia .copyR .developer p {
  margin: 0;
  font-size: 0.6875em;
  letter-spacing: 1px;
}
footer .licencia .copyR .developer p a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
footer .licencia .copyR .developer p a:hover {
  color: #1be7dd;
}
footer .licencia .copyR ul#socialMediaDown {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
footer .licencia .copyR ul#socialMediaDown li {
  margin: auto 3%;
}
footer .licencia .copyR ul#socialMediaDown a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
footer .licencia .copyR ul#socialMediaDown a:hover {
  color: #aeaeae;
}
